<!DOCTYPE html>
<html>
  <head>
    <title>Boas-vendas ao NQ</title>
  </head>
  <body style="font-family:Arial, sans-serif;">
    <table align="center" width="100%" style="max-width:600px;background:#3D60C1;padding:20px;color:#FFFFFF">
      <tr>
        <td style="text-align:start margin">
          <div style="text-align:center; margin:24px;">
             <img border="0" width="256" src="https://raw.githubusercontent.com/camilabarpp/crudSpring/master/Logo%20sem%20fundo.png" alt="Logo do NQ">
          </div>
          <h1 style="font-size:24px;color:#FFFFFF;"> Olá, <b style="color:#FFC107"><span>{{name}}</span></b></h1>
          <p style="margin:44px 0">A sua <b style="color:#FFC107"><span>senha foi alterada</span></b> com sucesso no dia {{updatedAt}}</p>

          <p>Se você acha que isso seja um erro, clique no botão abaixo para acessar nosso
          portal de suporte, onde você poderá entrar em contato com nossa equipe de suporte.</p>

         <div style="padding-bottom:24px;">
           <a href="https://site.com.br/api/support"
           style="background-color:#FFC107;color:#000000;padding:8px 16px;text-align:center;text-decoration:none;display:inline-block;border-radius:5px;">Entre em contato com a equipe de suporte</a>
         </div>

          <p>Com carinho.</p>
          <p>Equipe <b style="color:#FFC107"><span>NQ</span></b></p>
          <br>
        <div style="text-align:center; margin-bottom:40px; margin-top:24px;font-size:12px;">
              <p>Siga-nos nas redes sociais:</p>
              <a href="https://www.gmail.com/" style="margin-right:10px;text-decoration: none;">
                <img src="https://raw.githubusercontent.com/camilabarpp/crudSpring/master/email.png" alt="Email" style="max-width:24px;">
              </a>
              <a href="https://www.Whatsapp.com/" style="margin-right:10px;text-decoration: none;">
                <img src="https://raw.githubusercontent.com/camilabarpp/crudSpring/master/whatsapp.png" alt="Whatsapp" style="max-width:24px;">
              </a>
              <a href="https://www.instagram.com/" style="margin-right:10px;text-decoration: none;">
                  <img border="0" src="https://raw.githubusercontent.com/camilabarpp/crudSpring/master/instagram.png" alt="instagram"  style="max-width:24px;">
              </a>
              <a href="https://tiktok.com/" style="margin-right:10px;text-decoration: none;">
                <img src="https://raw.githubusercontent.com/camilabarpp/crudSpring/master/tiktok.png" alt="TikTok" style="width:18px;">
              </a>
              <div>
                  <p>© 2021 NQ. Todos os direitos reservados.</p>
                  <p>Rua para teste, 1234 - Bairro Teste, Porto Alegre - RS, 90020-011</p>
              </div>
        </div>
        </td>
      </tr>
    </table>
  </body>
</html>
