<!DOCTYPE html>
<html>
  <head>
    <title>Recupera칞칚o de Senha</title>
  </head>
  <body style="color:#FFFFFF;font-family:Arial, sans-serif;">
<table align="center" width="100%" style="max-width:600px;background:#3d60c1;padding:0 20px;color:#ffffff">
      <tbody><tr>
        <td style="text-align:start margin">
          <div style="text-align:center">
             <img border="0" width="256" src="https://ci6.googleusercontent.com/proxy/B3D4AuwyQHHxT0Uxe8k9WiIyNBk4l5rkkAyXqQZAIkq3H508LEN8IIJW20LBfFeIlG1tsgeak6DvWty7vqxI-seOqGKRL3hRIlmBhQKFICrUcDIMI2cubS0WFltYdsTw9sX3Q3nEquoOKBjYNJlQ4aZ1xdlueT0C=s0-d-e1-ft#https://raw.githubusercontent.com/camilabarpp/crudSpring/master/Vaqria%C3%A7%C3%A3o%20sem%20fundo.png" alt="Logo do NQ" class="CToWUd a6T" data-bit="iit" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 554.5px; top: 219px;"><div id=":281" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Fazer o download do anexo " jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWE6cjc0OTI1MzIxNDMyNTgxODgwOTgiLG51bGwsW11d" data-tooltip-class="a1V" data-tooltip="Fazer o download"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
          </div>
          <h1 style="font-size:24px;margin-bottom:84px;color:#ffffff"> Ol치, <b style="color:#ffc107"><span>{{username}}</span></b></h1>
          <p style="margin-bottom:42px">Parece que voc칡 esqueceu sua senha, certo?  <img width="16" data-emoji="游땸" class="an1" alt="游땸" aria-label="游땸" src="https://fonts.gstatic.com/s/e/notoemoji/15.0/1f631/32.png" loading="lazy"></p>
          <p>N칚o se preocupe, baste clicar no <b style="color:#ffc107"><span>bot칚o abaixo</span></b> e redefini-la em seguida</p>
          <div style="text-align:center;margin:42px">
           <a href="https://site.com.br/api/recuperar-senha?token=%7B%7Btoken%7D%7D" style="background-color:#ffc107;color:#000000;padding:16px 32px;text-align:center;text-decoration:none;display:inline-block;border-radius:5px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://site.com.br/api/recuperar-senha?token%3D%257B%257Btoken%257D%257D&amp;source=gmail&amp;ust=1683155945183000&amp;usg=AOvVaw2I3gc6HmXgXgFX0Iq-HAyC">Redefinir Senha</a>
          </div>
          <p style="margin-bottom:84px">Lembrando que o link apenas ficar치 v치lido pelos pr칩ximos <b style="color:#ffc107"><span>dois minutos</span></b>, tudo bem?
          </p>
          <br>

          <div>
              <p style="margin-bottom:42px">Dicas para uma conta segura</p>
              <ul>
                <li>
                   <p style="margin-bottom:24px">
                     <b style="color:#ffc107"><span>Crie senhas complexas</span></b> com letras mai칰sculas e min칰sculas, n칰meros
                     e s칤mbolos (* # @ &amp; ! ?)
                   </p>
                </li>
                <li>
                     <p style="margin-bottom:24px">
                      <b style="color:#ffc107"><span>Evite usar senhas iguais</span></b>
                       em diferentes sites e aplicativos
                    </p>
                </li>
                <li>
                     <p style="margin-bottom:24px">
                      <b style="color:#ffc107"><span>Evite colocar seu nome</span></b>
                       ou de pessoas queridas na sua senha
                    </p>
                </li>
               <li>
                     <p style="margin-bottom:24px">
                      <b style="color:#ffc107"><span>Crie senhas longas, com 12 ou mais caracteres.</span></b>
                        O uso de frases sem espa칞o entre as palavras, usando letras mai칰sculas e min칰sculas, n칰meros e s칤mbolos,
                        ajuda a criar senhas mais fortes e f치ceis de lembrar
                    </p>
                </li>
               <li>
                     <p style="margin-bottom:24px">
                      <b style="color:#ffc107"><span>Renove suas senhas periodicamente,</span></b>
                          mas lembre-se de n칚o repetir senhas antigas
                    </p>
                </li>
              </ul>
              <br>
          </div>

          <div>
             <p style="color:#dbdbdb;font-size:14px">Caso n칚o tenha solicitado a altera칞칚o de senha, por favor, desconsidere esta mensagem e sua senha atual ser치 mantida</p>
          </div>

        <div style="text-align:center;margin-bottom:40px;margin-top:24px;font-size:12px">
              <p>Siga-nos nas redes sociais</p>
              <a href="https://www.gmail.com/" style="margin-right:10px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.gmail.com/&amp;source=gmail&amp;ust=1683155945183000&amp;usg=AOvVaw0nnRMIyel7v56rJI_ANk8-">
                <img src="https://ci3.googleusercontent.com/proxy/SYktIJUSl4xlqMwzpvIqVC2nmjvP6Mt9bniLlY8UqHv2id1QGKpqs1tG3645g1GOncBAT3p7hnegeTVHPCSDQDoiVnI38dOnexbaMukhpA4-bP9nXNNvlclYq-c=s0-d-e1-ft#https://raw.githubusercontent.com/camilabarpp/crudSpring/master/email.png" alt="Email" style="max-width:24px" class="CToWUd" data-bit="iit">
              </a>
              <a href="https://www.Whatsapp.com/" style="margin-right:10px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.Whatsapp.com/&amp;source=gmail&amp;ust=1683155945183000&amp;usg=AOvVaw3-q_CFJsWoWrujDPMhJK0V">
                <img src="https://ci5.googleusercontent.com/proxy/FIWfubQfED2q_vuFDaB2a4ZtZIP1cP6Nv9V0kjcDEYJn0zjtKgfvtbcWy9bwuyb2boGTUBltQwHCWc1jnIxetX85PlMcIUPhAvWVIR6Exm9MG4c_HxQyTEY5bwT31oA=s0-d-e1-ft#https://raw.githubusercontent.com/camilabarpp/crudSpring/master/whatsapp.png" alt="Whatsapp" style="max-width:24px" class="CToWUd" data-bit="iit">
              </a>
              <a href="https://www.instagram.com/" style="margin-right:10px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/&amp;source=gmail&amp;ust=1683155945183000&amp;usg=AOvVaw2_UcV3Ihq3Scr8BI47lsZo">
                  <img border="0" src="https://ci4.googleusercontent.com/proxy/Ln7gHAk7viY4cOs9kguWCKhhwWIR2SPKSfhj_dWLunZA7S0ZlWTvgPPSW6SqB9QKZk174bzi3sYw9_8eKPgTRBG6jzzdYrnQCKlgay94oqLMcrHIB0vrviPPWUSSRJ5P=s0-d-e1-ft#https://raw.githubusercontent.com/camilabarpp/crudSpring/master/instagram.png" alt="instagram" style="max-width:24px" class="CToWUd" data-bit="iit">
              </a>
              <a href="https://tiktok.com/" style="margin-right:10px;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://tiktok.com/&amp;source=gmail&amp;ust=1683155945183000&amp;usg=AOvVaw301oTHq0EIQGUA2oxoyfn-">
                <img src="https://ci4.googleusercontent.com/proxy/8ju76P-OXF4CKTvRQnrWhlhlnbYvXIjrcZNM3VPv41S1pt83QpMjWaKE3DfKdz39vriopVMvlaRUZ7YxlT5od7MTeE3wbB2OEffm2z5gL4Xr_zfnslQNQsGlZSEk=s0-d-e1-ft#https://raw.githubusercontent.com/camilabarpp/crudSpring/master/tiktok.png" alt="TikTok" style="width:18px" class="CToWUd" data-bit="iit">
              </a>
              <div>
                  <p>춸 2021 NQ. Todos os direitos reservados.</p>
              </div>
        </div>
        </td>
      </tr>
    </tbody></table>
  </body>
</html>
