<!DOCTYPE html>
<html>
  <head>
    <title>Recuperação de Senha</title>
  </head>
  <body style="color:#FFFFFF;font-family:Arial, sans-serif;">
    <table align="center" width="100%" style="max-width:600px;background:#3D60C1;padding:20px">
      <tr>
        <td style="text-align:start margin">
          <div style="text-align:center; margin:24px;">
             <img border="0" width="256" src="https://raw.githubusercontent.com/camilabarpp/crudSpring/master/Logo%20sem%20fundo.png" alt="Logo do NQ">
          </div>
          <h1 style="font-size:24px;margin-bottom:24px;color:#FFFFFF;"> Olá, <b style="color:#FFC107"><span>{{username}}</span></b></h1>
          <p>Parece que você esqueceu sua senha, certo?</p>
          <p>Não se preocupe, baste clicar no <b style="color:#FFC107"><span>botão abaixo</span></b> e redefini-la em seguida.</p>
          <div style="text-align:center; margin:32px">
           <a href="https://site.com.br/api/recuperar-senha?token={{token}}" style="background-color:#FFC107;color:#000000;padding:16px 32px;text-align:center;text-decoration:none;display:inline-block;border-radius:5px;">Recuperar Senha</a>
          </div>
          <p>Lembrando que o link apenas ficará válido pelos próximos <b style="color:#FFC107"><span>dois minutos</span></b>, tudo bem?
          </p>
          <p style="color:#DBDBDB;font-size:14px">Caso não tenha solicitado a alteração de senha, por favor, desconsidere esta mensagem e sua senha atual será mantida</p>
          <br>

          <div>
              <p>Dicas para uma conta segura</p>
              <ul>
                <li>
                   <p>
                     <b style="color:#FFC107"><span>Crie senhas complexas</span></b> com letras maiúsculas e minúsculas, números
                     e símbolos (* # @ & ! ?)
                   </p>
                </li>
                <li>
                     <p>
                      <b style="color:#FFC107"><span>Evite usar senhas iguais</span></b>
                       em diferentes sites e aplicativos
                    </p>
                </li>
                <li>
                     <p>
                      <b style="color:#FFC107"><span>Evite colocar seu nome</span></b>
                       ou de pessoas queridas na sua senha
                    </p>
                </li>
               <li>
                     <p>
                      <b style="color:#FFC107"><span>Crie senhas longas, com 12 ou mais caracteres.</span></b>
                        O uso de frases sem espaço entre as palavras, usando letras maiúsculas e minúsculas, números e símbolos,
                        ajuda a criar senhas mais fortes e fáceis de lembrar
                    </p>
                </li>
               <li>
                     <p>
                      <b style="color:#FFC107"><span>Renove suas senhas periodicamente,</span></b>
                          mas lembre-se de não repetir senhas antigas
                    </p>
                </li>
              </ul>
              <br>
          </div>


        <div style="text-align:center; margin-bottom:40px; margin-top:24px;">
              <p>Siga-nos nas redes sociais:</p>
              <a href="https://www.gmail.com/" style="margin-right:10px;text-decoration: none;">
                <img src="https://raw.githubusercontent.com/camilabarpp/crudSpring/e8dc0072f9a0cb0c7bd2f8772c384557b24a9bbb/email_icon.svg" alt="Email" style="max-width:32px;">
              </a>
              <a href="https://www.Whatsapp.com/" style="margin-right:10px;text-decoration: none;">
                <img src="https://raw.githubusercontent.com/camilabarpp/crudSpring/e8dc0072f9a0cb0c7bd2f8772c384557b24a9bbb/whatsapp_icon.svg" alt="Whatsapp" style="max-width:32px;">
              </a>
              <a href="https://www.instagram.com/" style="margin-right:10px;text-decoration: none;">
                  <img border="0" width="32" src="https://raw.githubusercontent.com/camilabarpp/crudSpring/e8dc0072f9a0cb0c7bd2f8772c384557b24a9bbb/instagram_icon.svg" alt="instagram" class="CToWUd" data-bit="iit">
              </a>
              <a href="https://tiktok.com/" style="margin-right:10px;text-decoration: none;">
                <img src="https://raw.githubusercontent.com/camilabarpp/crudSpring/e9400a9955392061f2fc0dadb7dab537d3ca79cd/tiktok_icon.svg" alt="TikTok" style="width:21px; margin-bottom:4px;">
              </a>
        </div>
        </td>
      </tr>
    </table>
  </body>
</html>
