<!DOCTYPE html>
<html>
  <head>
    <title>Boas-vendas ao NQ</title>
  </head>
  <body style="color:#FFFFFF;font-family:Arial, sans-serif;">
  <table align="center" width="100%" style="max-width:600px;background:#3d60c1;padding:0 20px;color:#ffffff">
      <tr>
        <td style="text-align:start margin">
          <div style="text-align:center">
             <img border="0" width="256" src="https://ci6.googleusercontent.com/proxy/B3D4AuwyQHHxT0Uxe8k9WiIyNBk4l5rkkAyXqQZAIkq3H508LEN8IIJW20LBfFeIlG1tsgeak6DvWty7vqxI-seOqGKRL3hRIlmBhQKFICrUcDIMI2cubS0WFltYdsTw9sX3Q3nEquoOKBjYNJlQ4aZ1xdlueT0C=s0-d-e1-ft#https://raw.githubusercontent.com/camilabarpp/crudSpring/master/Vaqria%C3%A7%C3%A3o%20sem%20fundo.png" alt="Logo do NQ" class="CToWUd a6T" data-bit="iit" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 554.5px; top: 219px;"><div id=":281" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Fazer o download do anexo " jslog="91252; u014N:cOuCgd,Kr2w4b,xr6bB; 4:WyIjbXNnLWE6cjc0OTI1MzIxNDMyNTgxODgwOTgiLG51bGwsW11d" data-tooltip-class="a1V" data-tooltip="Fazer o download"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
          </div>
          <h1 style="font-size:24px;margin-bottom:84px;color:#ffffff"> Olá, <b style="color:#ffc107"><span>{{name}}</span></b></h1>
          <p style="margin-bottom:42px">Bem-vindo(a)! Estamos muito felizes em ter você no NQ! &nbsp;🤍</p>
          <p style="margin-bottom:42px">Aproveite os nossos <b style="color:#FFC107"><span>simulados</span></b> e as nossas <b style="color:#FFC107"><span>questões exclusivas</span></b> para ficar cada vez mais preparado(a)</p>
          <p style="margin-bottom:100px">Ah, e não se preocupe! Com os nossos <b style="color:#FFC107"><span>Cronogramas Personalizáveis</span></b>, você consegue administrar o seu
             tempo da melhor maneira possível, potencializando os seus resultados até a prova
          </p>
          <p style="margin-bottom:42px">Com carinho,</p>
          <p style="margin-bottom:42px">Equipe <b style="color:#FFC107"><span>NQ</span></b></p>
          <br>
          <div style="text-align:center; margin-bottom:40px; margin-top:24px;font-size:12px;">
              <p>Siga-nos nas redes sociais</p>
              <a href="https://www.gmail.com/" style="margin-right:10px;text-decoration: none;">
                <img src="https://raw.githubusercontent.com/camilabarpp/crudSpring/master/email.png" alt="Email" style="max-width:24px;">
              </a>
              <a href="https://www.Whatsapp.com/" style="margin-right:10px;text-decoration: none;">
                <img src="https://raw.githubusercontent.com/camilabarpp/crudSpring/master/whatsapp.png" alt="Whatsapp" style="max-width:24px;">
              </a>
              <a href="https://www.instagram.com/" style="margin-right:10px;text-decoration: none;">
                  <img border="0" src="https://raw.githubusercontent.com/camilabarpp/crudSpring/master/instagram.png" alt="instagram"  style="max-width:24px;">
              </a>
              <a href="https://tiktok.com/" style="margin-right:10px;text-decoration: none;">
                <img src="https://raw.githubusercontent.com/camilabarpp/crudSpring/master/tiktok.png" alt="TikTok" style="width:18px;">
              </a>
              <div>
                  <p>© 2021 NQ. Todos os direitos reservados.</p>
              </div>
        </div>
        </td>
      </tr>
    </table>
  </body>
</html>
