{{!-- <html> --}}
{{!--   <body> --}}
{{!--     <center> --}}
{{!--       <div style="background-color: #d3d3d3; max-width: 840px; margin: 0; padding: 30px;"> --}}
{{!--         <h2 style="color: #292536; text-align: center">Confirme seu endereço de email</h2> --}}
{{!--         <p>Para confirmar seu email clique no botão abaixo, ou acesse o seguinte link: </p> --}}
{{!--         <div style="margin: 20px auto; width: 180px; padding: 10px 20px; background-color: #442d52; border-radius: 5px; text-align: center;"> --}}
{{!--           <a href="http://url-do-front/email-confirmation/?token={{token}}" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #fcfcfc; font-size: 18px; margin: 0 auto;">Confirmar Email</a> --}}
{{!--         </div> --}}
{{!--       </div> --}}
{{!--     </center> --}}
{{!--   </body> --}}
{{!-- </html> --}}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Bem-vindo ao nosso site</title>
</head>
<body>
	<div style="max-width: 600px; margin: 0 auto;">
		<main style="padding: 20px;">
			<h1>Olá, {{name}}!</h1>
			<p>Seja bem-vindo ao nosso site! Estamos muito felizes em você no <b><span>NQ</span></b>.</p>
			<p>Aqui você encontrará [breve descrição dos serviços/produtos oferecidos pelo site]. Esperamos que você aproveite tudo que temos a oferecer!</p>
			<p>Se precisar de ajuda, nossa equipe de suporte está sempre pronta para ajudar. Não hesite em nos contatar.</p>
			<p>Novamente, bem-vindo ao nosso site e obrigado por se juntar a nós!</p>
			<br>
			<p>Atenciosamente,</p>
			<p>[nome da empresa]</p>
		</main>
	</div>
</body>
</html>
